[submodule "qtwebsocket"]
	path = qtwebsocket
	url = git://gitorious.org/qtwebsocket/qtwebsocket.git
[submodule "qextserialport"]
	path = qextserialport
	url = https://code.google.com/p/qextserialport/
[submodule "qt-json"]
	path = qt-json
	url = git://github.com/ereilin/qt-json.git
